<!DOCTYPE html>
<html>
  <head>
    <title>ExpertTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_pack_tag 'hello_react', 'data&#45;turbolinks&#45;track': 'reload' %> -->
    <!-- <%= javascript_pack_tag 'hello2', 'data&#45;turbolinks&#45;track': 'reload' %> -->
    <!-- <%= javascript_pack_tag 'counter', 'data&#45;turbolinks&#45;track': 'reload' %> -->
    <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
